<% layout('boilerplate') -%>
<body>
    <div class="filters">
        <div class="filter" style="color: black;">
            <div class="icon"><a href="/listing/show/Trending"><i class="fa-solid fa-fire" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Trending</p></a>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Rooms"><i class="fa-solid fa-bed" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Rooms</p></a>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Iconic Cities"><i class="fa-solid fa-mountain-city" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Iconic Cities</p></a>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Mountains"><i class="fa-solid fa-mountain" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Mountains</p></a>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Castles"><i class="fa-brands fa-fort-awesome" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Castles</p></a>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Beaches"><i class="fa-solid fa-person-swimming" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Beaches</p></a>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Camping"><i class="fa-solid fa-campground" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Camping</p></a>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Farms"><i class="fa-solid fa-tractor" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Farms</p></a>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Arctic"><i class="fa-regular fa-snowflake" style="color: black;"></i></div>
            <p class="icon-text" style="color: black;">Arctic</p></a>
        </div>
    </div>
    <div class="cards">
        <% for (let x of listdata){ 
            if(x.category===catg){ %>
            <a href="moreabout/<%=x.id%>" class="cardLink">
                <div class="card" style="width: 18rem; border: none;">
                    <img src="<%=x.image.url%>" class="card-img-top" alt="listing_img" style="height: 14rem;">
                    <div class="card-body">
                        <p class="card-text">
                            <%=x.title%> <br>
                            &#8377; <%=x.price%>/night
                        </p>
                    </div>
                </div>
            </a>
        <%}}%> 
    </div>    
</body>
