<% layout('boilerplate') -%>
<body>
    <div class="filters">
        <div class="filter">
            <div class="icon"><a href="/listing/show/Trending"><i class="fa-solid fa-fire"></i></a></div>
            <p class="icon-text">Trending</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Rooms"><i class="fa-solid fa-bed"></i></a></div>
            <p class="icon-text">Rooms</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Iconic Cities"><i class="fa-solid fa-mountain-city"></i></a></div>
            <p class="icon-text">Iconic Cities</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Mountains"><i class="fa-solid fa-mountain"></i></a></div>
            <p class="icon-text">Mountains</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Castles"><i class="fa-brands fa-fort-awesome"></i></a></div>
            <p class="icon-text">Castles</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Beaches"><i class="fa-solid fa-person-swimming"></i></a></div>
            <p class="icon-text">Beaches</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Camping"><i class="fa-solid fa-campground"></i></a></div>
            <p class="icon-text">Camping</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Farms"><i class="fa-solid fa-tractor"></i></a></div>
            <p class="icon-text">Farms</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Arctic"><i class="fa-regular fa-snowflake"></i></a></div>
            <p class="icon-text">Arctic</p>
        </div>
    </div>
    <div class="cards">
        <% for (let x of listdata){ 
            if(x.category===catg){ %>
            <a href="moreabout/<%=x.id%>" class="cardLink">
                <div class="card" style="width: 18rem; border: none;">
                    <img src="<%=x.image.url%>" class="card-img-top" alt="listing_img" style="height: 14rem;">
                    <div class="card-body">
                        <p class="card-text">
                            <%=x.title%> <br>
                            &#8377; <%=x.price%>/night
                        </p>
                    </div>
                </div>
            </a>
        <%}}%> 
    </div>
</body>
