    <footer class="text-center text-white" style="background-color:rgb(159, 153, 153)">
    <div class="footer_container">
        
        <section class="text-center mb-5">
        <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
        </a>
        <br><br><br>
        © 2024 Copyright:
        <a class="text-white" href="https://www.airbnb.co.in/?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&search_mode=flex_destinations_search&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2024-08-01&monthly_length=3&monthly_end_date=2024-11-01&price_filter_input_type=0&channel=EXPLORE&date_picker_type=calendar&categ"
            >WanderLust.com</a><br><br><br>
            <p>Privacy Terms</p>
        </section>
    </div>
    </footer>
    <!-- Footer -->
